@charset "utf-8";
/* CSS Document */
:root {
	--my-dark-color: #00008b;
	--my-light-color: #f0ffff;
  }
header {
	background-color:var(--my-light-color);
	color:var(--my-dark-color);
	font-family:arial, sans serif;
	border:solid 3px var(--my-dark-color);
}
nav {
	background-color:var(--my-dark-color);
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;	
}
nav p {
	border:solid 3px var(--my-light-color);
	background-color:var(--my-dark-color);
	font-weight:bold;
	color:var(--my-light-color);
	display:inline-block;
	width:17%;
	min-width:85px;
	text-align:center;
	margin-left:3px;
}
nav p a {
	color:var(--my-light-color);
	text-decoration:none;
}
nav p:hover {
  border-color: var(--my-dark-color);
  font-style: italic;
}
main {
	background-color:var(--my-light-color);
	width:100vw;
}
main h1, main h2, main h3 {
	font-family:arial, sans serif;
	}
main h2 {
	text-align:center
}
footer {
	background-color:var(--my-dark-color);
	color:var(--my-light-color);
	font-style: italic;
	text-align: center;
	font-size: 75%;
}
.namebutton{
	text-align:center
}
.whatever4{
	display:flex;
}
.bulletclass{
  list-style: url("images/sr-bullet.png");
  margin-left: 20px;
}
.carousel{
	display:grid;
	grid-auto-flow: dense;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 15px;
}
.donut{
	box-shadow: 5px 5px 5px lightgrey;
}
.donutlady{
	color: white;
	position: absolute;
}
.bookcaption{
	color: magenta;
	position: absolute;
}
.donutgrid{
	display:grid;
	min-height:100vh;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}

